    body {
        background-image: url('Images/background 2.jpg');
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }


    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
}

#Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-box {
    background-color: #DDA77B;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-box a {
    text-decoration: underline;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
}

.menu-box:hover {
    transform: scale(1.05);
}